.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #7297ef;
    padding-bottom: 3rem;
  }
  .footer__container {
    margin-bottom: 2rem;
    .container {
      border-bottom: 1px solid #cecece;
      padding-bottom: 3rem;
      max-width: 998px;
      display: flex;
      justify-content: space-between;
    }
  }
  
  .footer__logo {
  }
  .footer__logo__image {
    margin-bottom: 1.5rem;
    object-fit: none;
  }
  .footer__meta {
    width: 229px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 19px;
    letter-spacing: 0%;
    color: #ffffff;
  }
  .footer__links__list {
    display: flex;
    align-items: center;
    gap: 10rem;
  }
  .footer__links__item {
  }
  .footer__info--list {
    padding-top: 4.3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer__info__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .footer__info__item--link {
    color: #ffffff;
    &:hover {
      color: #0942c6;
    }
  }
  .footer__team {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer__team__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .footer__team__item--link {
    color: #ffffff;
  
    &:hover{
      color: #0942c6;
    }
  }
  
  .footer__cta {
    .container {
      width: 100%;
      max-width: 998px;
      display: flex;
      justify-content: space-between;
    }
  }
  
  .footer__cta--text {
    width: 161px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 23px;
    letter-spacing: 0%;
    color: #ffffff;
  }
  .footer__cta__list {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
  .footer__cta__item {
  }
  .footer__cta__item--link {
  
      &:hover{
         opacity: 0.6;
      }
  }
